body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

#date
{
    width: 100%;
    margin-bottom: 10px;
}
#cal
{
    width: 100%;
    background-color: yellowgreen;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    outline: none;
    border: none;
}
#cal:hover
{
    opacity: 0.7;
}